<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Energy Commission of Nigeria</title>
		<link rel="stylesheet" href="/css/style.css" />
		<link
			rel="stylesheet"
			href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css"
		/>
		<!-- Font Awesome CSS -->
	</head>
	<body id="body">
		<i
			id="delete-icon"
			class="fa fa-close"
			style="
				font-size: 48px;
				color: black;
				position: fixed;
				left: 1250px;
				top: 30px;
				z-index: 300;
				display: none;
			"
		></i>
		<div id="search-publications"></div>
		<div id="publications-input">
			<h3>Search Publications</h3>

			<form id="form" method="GET" action="/searchres">
				<input
					id="input-pub"
					name="query"
					type="text"
					placeholder="Search publications..."
					required
				/>
				<button type="submit" class="submit">Search</button>
			</form>
		</div>
		<header>
			<%- include('./partials/navbar') %>

			<div style="padding-top: 80px" id="news-view" class="container">
				<div style="position: relative;" class="news-container">
					<div style="background-color: #0e6655; text-align: center; padding: 25px 0;margin-bottom: 15px; position: relative;" class="new-title-block">
						<h1
					style="
						
						margin-bottom: 15px;
						color: #fff; /* Matches your theme */
						
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* Subtle shadow for depth */
  letter-spacing: 2px; /* Adds space between letters for elegance */
					"
				>
					<%= data.title %>
				</div>
					
					<div class="news-images">
						<!-- Conditionally display images up to 3 -->
						<% if (images_data.img1 !== null && images_data.img1 !== "NULL") { %>
						<img
							src="../scraped_news_images/<%= formattedTitle %>/image_1.jpg"
							alt="News Image 1"
						/>
						<% } %> <% if (images_data.img2 !== null && images_data.img2 !== "NULL") { %>
						<img
							src="../scraped_news_images/<%= formattedTitle %>/image_2.jpg"
							alt="News Image 2"
						/>
						<% } %> <% if (images_data.img3 !== null && images_data.img3 !== "NULL") { %>
						<img
							src="../scraped_news_images/<%= formattedTitle %>/image_3.jpg"
							alt="News Image 3"
						/>
						<% } %>
					</div>
				
				<div class="news-container"></div>
				
				</h1>
				<p
					style="
						margin-bottom: 10px;
						font-size: 0.5rem;
						color: #777; /* Lighter color for date & author */
						margin-bottom: 15px;
					"
					class="news-meta"
				>
					Published on <%= formatDate %>
				</p>
				<p><%- formated_news %></p>
				<div class="c-share">
					<input class="c-share__input" type="checkbox" id="checkbox" />
					<label class="c-share__toggler" for="checkbox">
						<span class="c-share__icon"></span>
					</label>
		
					<ul class="c-share_options" data-title="Share">
						<li>Facebook</li>
						<li>Twitter</li>
						<li>Google</li>
						<li>Email</li>
					</ul>
				</div>
			</div>

			<!-- <p>
					<%= "../scraped_news_images/" + data.image_1.slice(19, -11) +
					"/image_3.jpg" %>
				</p> -->

			<!-- <img
					src="../scraped_news_images/DG_ECN_Decorated_as_Champion_for_Outstanding_Service_Delivery/image_1.jpg"
					alt=""
				/>
			</div> -->
		</header>
		<%- include('./partials/footer') %>
	</body>
</html>
