<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Energy Commission of Nigeria</title>
		<link rel="stylesheet" href="css/style.css" />
		<link
			rel="stylesheet"
			href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css"
		/>
		<!-- Font Awesome CSS -->
	</head>
	<body id="body" style="background-color: #fff">
		<i
			id="delete-icon"
			class="fa fa-close"
			style="
				font-size: 48px;
				color: black;
				position: fixed;
				left: 1250px;
				top: 30px;
				z-index: 300;
				display: none;
			"
		></i>
		<div id="search-publications"></div>
		<div id="publications-input">
			<h3>Search our pool of energy publications</h3>

			<form id="form">
				<input id="input-pub" type="text" />
			</form>
		</div>
		<%- include('./partials/navbar') %>
		<div id="news-list" class="container">
			<h2>News and media releases</h2>
			<p>View all our news and media releases.</p>
		</div>
		<button id="news-alert">
			Sign up for email news alert<i
				style="margin-left: 5px"
				class="fa fa-envelope"
				aria-hidden="true"
			></i>
		</button>
		<% newsBlog.forEach((el) => { %>

		<div id="news-view-text">
			<div class="container">
				<div class="bucket">
					<a style="cursor: pointer" href="news/<%=el.id%>"><%=el.title %></a>
					<p style="margin: 10px 0"><%= el.date_created %></p>
					<p><%= el.content %></p>
				</div>
			</div>
		</div>

		<% }) %> <%- include('./partials/footer') %>
	</body>
</html>
